/* css styles */

.navbar-brand img {
  height: 100px !important;
  max-height: none !important;
}

.navbar {
  min-height: 100px !important;
}

.navbar-nav .nav-link {
  white-space: normal;
  text-align: center;
  line-height: 1.2;
}
                                     
  .quarto-post .thumbnail {
    max-width: 150px;                                                               
  }  
  
 .quarto-title-banner {                                                            
    min-height: 300px !important;
    background-size: contain !important;
    background-repeat: no-repeat;                                                   
    background-position: center;
  }
